.user__main-container{
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(17, 21, 33);
}

.user__main-header{
    text-align: center;
    color: white;
    font-size: 40px;
    margin-bottom: 50px;
}

.user__flex-container{
    display: flex;
    justify-content: space-evenly;
}

.user__main-image{
    flex-basis: 30%;
}

.main-container__content{
    flex-basis: 40%;
    background-color: white;
    padding: 50px 0 20px 0;
    border-radius: 7px;
}

.content__hr-line{
    color: rgb(170, 168, 168);
    background-color: rgb(170, 168, 168);
    height: .5;
    border: 1px solid rgb(170, 168, 168);
    width: 90%;
    margin: 30px 0 20px 0;
}

.content__upload-image{
    width: 90%;
}

.upload-image__paragraph{
    float: inline-start;
    line-height: 35px;
    text-align: center;
    color: rgb(144, 142, 142);
}

.upload-image__icon{
    min-width: 35px;
    min-height: 35px;
    color: rgb(144, 142, 142);
    float: inline-end;
}

.content__form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content__div-input{
    width: 90%;
}

.single-input__item-label{
    float: left;
    color: rgb(144, 142, 142);
    line-height: 60px;
}

.single-input__item-input{
    padding: 10px 20px;
    border-radius: 2px;
    margin: 10px;
    font-size: 16px;
    float: right;
    color: rgb(103, 103, 103);
    border: 1px solid rgb(215, 212, 212);
}

.single-input__item-input::placeholder{
    color: rgb(144, 142, 142);
}

.single-input__item-input:focus{
    color: rgb(103, 103, 103);
}

.single-input__disabled-message{
    color: rgb(103, 103, 103);
    font-size: small;
    float: right;
    margin-right: 15px;
}

.content__submit-input{
    margin-top: 30px;
}

.submit_btn_comm_sec{
    margin-top: 10px;
    margin-bottom: 10px;
   
}

.main-image__border{
    width: 250px;
    height: 250px;
    margin: 35%;
    border-radius: 50%;
}

@media screen and (max-width: 820px) {
    .content__form{
        width: 80%;
    }

    .single-input__item-input{
        width: 100%;
        margin: 0 0 16px 0;
    }
}